html,body{
    background:#000000;
    text-align: center;
}

.black{
    background:#000000;
}

#clock{
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    font-weight: 100;
    margin-right: 0px;
}

#second{
    text-align: center;
    color: #989898;
    font-size: 20px;
    font-weight: 100;
}

#day{
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
}

#date{
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}

#weather{
    float: right;
    text-align: right;
    font-size: 30px;
    color: #ffffff;
}

#news{
    float: left;
    color: #ffffff;
    text-align: left;
    width: 800px;
    overflow:hidden;
}

#techcrunch{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}

#cnn{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}

#news_title{
    font-size: 10px;
}

#news_body{
    font-size: 5px;
}

#temp{
    color: #ffffff;
    font-size: 100px;
    font-weight: 100;
}

#deg{
    color: #989898;
    font-size: 30px;
    font-weight: 100;
}

#sunrise_logo{
    width: 40px;
    margin-right: 30px;
}

#sunset_logo{
    width: 40px;
    margin-right: 30px;
}

#forecast{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 100;
}

.forecast_low_high{
    text-align: right;
    margin-right: 20px;
    font-weight: 100;
    font-size: 30px;
}