<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.rss.js"></script>

  </head>
  <body class="black" onload=display_ct();>
        <span id='clock'></span><span id='second'></span>
        <br>
        <span id='day'></span>
        <br>
        <span id='date'></span>
        <br>
        <div id="weather">
          <span id='temp'></span><span id="deg">&#8457;</span>
          <br>
          <br>
          <span id='min_temp'></span><span id="deg">&#8457; min</span>
          <br>
          <span id='max_temp'></span><span id="deg">&#8457; max</span>
          <br>
          <br>
          <span id='weather_description'></span>
          <br><br><br><br>
          <span class="right_padding" id="bitcoin"></span><br>
          <span class="right_padding" id="ethetrum"></span><br>
          <span class="right_padding" id="litecoin"></span><br>
          <span class="right_padding" id="dogecoin"></span><br>
        </div>
        <div id="rss-feeds"></div>
        <div id="news">
          <span id="techcrunch">CNET</span>
          <div id="techcrunch_rss_feeds"></div>
          <span id="cnn">CNN</span>
          <div id="cnn_rss_feeds"></div>
        </div>
  </body>


    <script>
      var delay = 100000;
      var weather_dealy = 100000;
      var digital_cur_delay = 100000;
      days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

      function display_c(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct()',refresh)
      }

      function display_ct() {
        var strcount;
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var DoM = today.getDate()
        var D = today.getDay()
        var M = today.getMonth();
        var Y = today.getFullYear();
        document.getElementById('clock').innerHTML = h + ":" + m;
        document.getElementById('second').innerHTML = s;
        document.getElementById('day').innerHTML = days[D]
        document.getElementById('date').innerHTML = months[M] + " " + DoM + ", " + Y;
        tt=display_c();
      }

      window.setInterval(function(){ jQuery(function($) {
        $.ajax({
          url: "http://api.openweathermap.org/data/2.5/weather?id={{city_id}}&appid={{openweathermap_API_Key}}&units=Imperial",
          data: {},
          success: function(data) {

            var temp = data.main.temp;
            document.getElementById('temp').innerHTML = Number((temp).toFixed(0));

            var temp_min = data.main.temp_min;
            document.getElementById('min_temp').innerHTML = Number((temp_min).toFixed(0));

            var temp_max = data.main.temp_max;
            document.getElementById('max_temp').innerHTML = Number((temp_max).toFixed(0));

            var weather_description = data.weather[0].description;
          
            document.getElementById('weather_description').innerHTML = weather_description;
            },
          dataType: 'json'
        });
    })}, weather_dealy);

      window.setInterval(function(){ jQuery(function($) {
        $("#techcrunch_rss_feeds").empty();
        $("#techcrunch_rss_feeds")
          .hide()
          .rss("https://www.cnet.com/rss/news/", {
            limit: 7,
            entryTemplate: '- <span id="news_title">{title}</span><br><br>'
          }, function() {
            $("#techcrunch_rss_feeds")
              .show()
              .find('> div')
          })
      })}, delay);

      window.setInterval(function(){ jQuery(function($) {
        $("#cnn_rss_feeds").empty();
        $("#cnn_rss_feeds")
          .hide()
          .rss("http://rss.cnn.com/rss/edition.rss", {
            limit: 7,
            entryTemplate: '- <span id="news_title">{title}</span><br><br>'
          }, function() {
            $("#cnn_rss_feeds")
              .show()
              .find('> div')
          })
      })}, delay);

      window.setInterval(function(){ jQuery(function($) {
        $.ajax({
          url: "https://api.coinbase.com/v2/prices/BTC-USD/sell",
          data: {},
          success: function(data) {
          document.getElementById('bitcoin').innerHTML = "$ " + data['data']['amount'] + "   BTC" ;
             },
          dataType: 'json'
        });
    })}, digital_cur_delay);

      window.setInterval(function(){ jQuery(function($) {
        $.ajax({
          url: "https://api.coinbase.com/v2/prices/ETH-USD/sell",
          data: {},
          success: function(data) {
          document.getElementById('ethetrum').innerHTML = "$ " + data['data']['amount'] + "   ETH" ;
             },
          dataType: 'json'
        });
    })}, digital_cur_delay);

      window.setInterval(function(){ jQuery(function($) {
        $.ajax({
          url: "https://api.coinbase.com/v2/prices/LTC-USD/sell",
          data: {},
          success: function(data) {
          document.getElementById('litecoin').innerHTML = "$ " + data['data']['amount'] + "   LTC";
             },
          dataType: 'json'
        });
    })}, digital_cur_delay);


    window.setInterval(function(){ jQuery(function($) {
        $.ajax({
          url: "https://api.coinbase.com/v2/prices/DOGE-USD/sell",
          data: {},
          success: function(data) {
          console.log(data);
          document.getElementById('dogecoin').innerHTML = "$ " + data['data']['amount'] + "   DOG";
             },
          dataType: 'json'
        });
    })}, digital_cur_delay);


    </script>
</html>


